body{
	text-align: center;
}

.imageButton{
	width: 20%;
	display: inline-block;
}


.image{
	width: 100%;
	height: auto;
}

.behaviorButton{
	
}

.resetter{
	display: inline-block;
	width: 30%;
	height: 50px;

}